
  body{
    margin: 0;

  }
  header{
    box-shadow: 0 3px 5px #ccc;
    padding: 10px 0;
    padding-left: 32px;
    font-weight: bold;

    font-family: sans-serif;
    position: relative;
    z-index: 1;
  }
  .container{
    width:1200px;
    margin: auto;
  }
  .navbar{
    list-style-type:none;
    font-size:12px;

    margin: 0;
    padding: 0;
  }

  /*left-header-item*/
  li.nav-item{
      display: inline;
      border-right: 1px solid black;
      font-size: 13px;
      color: #777;
  }

  li.nav-item a{
      padding: 0 5px ;
      color: #555555;
      text-decoration: none;
  }

  li.nav-item a:hover{
      text-decoration: underline;
      color: blue;
  }

  li.nav-item a.A{
      color: blue;
      padding: 0;
  }

  li.nav-item a.B{
      padding: 0 10PX 0 0;
  }

  #C{
    border-right: none;
  }

  /*right-header-item*/
  li.nav-item2{
      font-size: 13px;
      display: inline;
      padding: 0 15px;
      color: #777;
      text-decoration: none;

  }


  li.nav-item2 a{

        color: #777;
      text-decoration: none;
  }

  li.float-right{
    color: #777;
    float: right;

  }

  li.nav-item3{
      display: inline;
      border-right: none;
      font-size: 13px;
  }

  li.nav-item3 a{

      padding: 15px;
      color: gray;
      text-decoration: none;
  }

  li.nav-item3 a:hover{

      padding: 15px;
      color: #3976d3;
      text-decoration: underline;
  }

  li.nav-item4{
    display: inline;
  }

  li.nav-item4 a{
    font-weight: bold;
    padding: 10px;
    color: black;
    text-decoration: none;
    border-bottom: 2px solid #4a4e54;
  }
/*---------------searchform----------------*/
#search-bar{
  width: 100%;
  height: 65px;
  overflow: hidden;

}

.setbgcolor{
  background-color: #f9f9f9f9;
}

.clearfix{
  clear: both;
}

#brand{
  padding-top: 13px;
  float: left;

}

#shopping-button{
  float: left;
  width: 70px;
  font-size: 14px;
  color: #555555;
  border: none;
  background-color: #f9f9f9;
  margin-right: 15px;
}

#down{
  position: relative;
  bottom: 40px;
  left: 40px;
}

#form{
  float: left;
  margin-top: 10px;
  margin-left: 15px;
}

#search-field{
    border-radius: 3px 0 0 3px;
    width: 630px;
    height: 40px;
    box-sizing: border-box;
}
#category-text-field{

  border-radius: 0 3px 3px 0;
  padding: 11px 10px;
  box-sizing: border-box;
  height: 40px;
  width: 180px;
  background-color: #fff;
  margin-left: -4px;
  border: 1px solid;
}
.text-field{
    font-size: 16px;
    color: #767676;
    padding: 10px 0 10px 8px;
    border: 1px solid #ddd;
}
.options{
  border: none;
  font-size: 12px;
  width: 100%;
  background-color: transparent;
}

.btn-primary{
  color: #fff;
  font-size: 16px;
  height: 40px;
  font-weight: 500;
  border-radius:  3px;
  padding: 8px 19px 9px 19px;
  border: none;
  background: linear-gradient(to bottom, #0079bc, #00509d);
}

.btn-primary:hover{
  background: #00509d;
}

#advanced-btn{
  color: #555;
  text-decoration: none;
  font-size: 11px;
  margin-left: 10px;
}
#advanced-btn:hover{
  color: #065dBA;
  text-decoration: none;
  font-size: 11px;
  margin-left: 10px;
}

nav{
  width: 100%;
  height: 35px;
  padding-top: 12px;
}

.tb-border{
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px;
}

#navigation-bar{
  font-family: sans-serif;
  font-weight: bold;
  padding-left: 150px;
}

/*----------------ad-----------------*/
#adsection{
  height: 610px;
  padding-top: 32px;
}

#column1{
  float: left;
  height: 602px;
  padding-left:15px;
}

#column2{
  position: relative;
  float: left;
  height: 577.88px;
  width: 300px;
  overflow: hidden;
}

.add-border{
  border: 2px solid #ddd;
  box-sizing: border-box;
}
#ad2{
  position: absolute;
  right: 0;
  top: 0;
}
#ad3{
  position: absolute;
  right: 0;
  bottom: 0;
}
  /*---------------product----------------*/

#product{
  width: 100%;
  height: 647px;
  margin: auto;
  padding-bottom: 75px;
  overflow: hidden;

}

.hero-heading{
  height: 45px;
  border-bottom: 1px solid #ddd;
  font-weight: 400;
  color: #555;
  font-family: sans-serif;
  margin-top: 0;
}

#show-product{
  width: 100%;
  height: 602px;

}

.product-section{
  width: 585px;
  height: 605px;
  float: left;
}

.product-photo{
  width: 585px;
  height: 420px;
}

.photo-column1{
  float: left;
  width: 445px;
  height: 420px;
  border-width: 1px 0 1px 1px;
  border-color: #ddd;
  border-style: solid;
  box-sizing: border-box;
  overflow: hidden;
}

#photo1{
  position: relative;
  left: -18px;
  height: 418px;
  overflow: hidden;
}

.photo-column2{
  float: left;
  width: 140px;
  height: 420px;
  box-sizing: border-box;
  overflow: hidden;
}

.thumb{
  width: 140px;
  height:  140px;
  border-width: 1px 1px 0 1px;
  border-color: #ddd;
  border-style: solid;
  box-sizing: border-box;
  overflow: hidden;

}
.thumb:last-child{
  border-width: 1px;

}

.thumbnail{
  width: 138px;
  height: 138px;
  overflow: hidden;
  box-sizing: border-box;
}

/*------------------------article--------------------------------*/

article{
  color: #333;

}

.title{
  font-weight: 400;
  font-size: 26px;
  margin: 18px 0 18px 0;
}

.d-container{
  width: 370px;
  height: 118px;
}

P{
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5em;
}

.read-more{
  background-image: url('img/readmore.png');
  height: 20px;
  width: 20px;
  display: inline-block;
  background-size: cover;
  vertical-align: middle;
}

.left-col{
  float: left;
  width: 440px;

}

.right-col{
  width: 138px;
  height: 184.4px;
  float: right;
}
.right-col-text{
  text-align: center;
  color: #333;
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
}

.right-col-container{
  list-style: none;
  padding-left:  0;
}

.right-col-items{
  padding: 18px 0 ;
  border-bottom: 1px solid #ddd;
}

.right-col-items:last-child{
  padding: 18px 0 ;
  border-bottom: none;
}

.right-col-items a{
  text-decoration: none;
  color: #0654ba;
}

.right-col-items a:hover{
  text-decoration: underline;
  color: #0654ba;
}

/*--product2--*/

.right-section{

  float:right;
}
/*--------Daily deals----------*/
#daily-deals{
  width: 100%;
  height: 530px;
  padding-bottom: 75px;
  border-bottom: 1px solid #ddd;
}

.box{
  width: 100%;
  height: 300px;
  padding: 25px 0 0 8px;
  vertical-align: middle;
  overflow: hidden;
  background-color: white;
  border:1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 80px;
}

.box-subcontent{
  float: left;
  border-radius: 5px;
  width: 190px;
  border: 1px solid #ddd;
  margin: 0 24px;
  overflow: hidden;
}

.sale{
  height: 140px;
  width: 169px;
}

.details{
  width: 180px;
  display: inline-block;
  font-size: 14px;
  padding: 8px 0 0 8px;
  color: black;
  text-decoration: none;
}

.details:hover{
  color: #0654ba ;
  text-decoration: underline;
}

.price{
  padding: 8px 0 0 8px;
  font-weight: bold;
  margin: 0;
}
/*------pagination-------*/
.pagination{
  text-align: center;
}

.pagination-content{
  padding-top: 40px;
  display: inline-block;
}

.pagination-content a{
  color: black;
  float: left;
  padding: 8px 15px;
  font-family: sans-serif;
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0.3s;
}

.pagination-content a:hover:not(.active){
  background-color: #ddd;
}

.pagination-content a.active{
  background-color: #4caf50;
  color: white;
}

/*--------------collection-----------------*/
.collection{
  background-color: white;
  text-align: center;

  border-radius: 5px;
  font-family: sans-serif;
  color: #777;
  border: 1px solid #ddd;
  box-sizing: border-box;
}

.collection a{
  color: #0754ba;
  text-decoration: none;
}

.collection a:hover{
  color: #0754ba;
  text-decoration: underline;
}

/*--------------footer---------------*/
footer{
    color:#777;
}

.copy{
  text-align: center;
}
